services:
  redis:
    container_name: finance_redis
    image: redis:7
    restart: always
    ports:
      - '6379:6379'

  rabbitmq:
    container_name: finance_rabbitmq
    image: rabbitmq:3-management
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: marcoant007
      RABBITMQ_DEFAULT_PASS: mordekai07

volumes:
  pgdata: null
